<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.xdvideo.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="net.xdclass.xdvideo.domain.Comment">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="point" column="point" jdbcType="DOUBLE"/>
            <result property="up" column="up" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="videoId" column="video_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,user_id,
        head_img,name,point,
        up,create_time,order_id,
        video_id
    </sql>
</mapper>
