<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.xdvideo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="net.xdclass.xdvideo.domain.User">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="sign" column="sign" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,name,
        head_img,phone,sign,
        sex,city,create_time
    </sql>
</mapper>
